﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Logowanie.aspx.cs" Inherits="Logowanie" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Numer NIU"></asp:Label>

        <asp:TextBox ID="TextBox1" runat="server" Text=""></asp:TextBox>
        <asp:Label ID="Label2" runat="server" Text="Hasło "></asp:Label>
    </div>
        <asp:TextBox ID="haslo" runat="server" Text="" type="password"></asp:TextBox>
        <asp:Button ID="Zaloguj" runat="server" Text="Zaloguj" OnClick="Button1_Click" />
    </form>
</body>
</html>
